body{
    background: linear-gradient(135deg, rgb(48, 47, 47), rgb(122, 126, 64), rgb(238, 238, 59));
}
#dtls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

    margin: auto;
}
h1{
    text-align: center;
    color: white;
    background: black;
    padding: 0em 4em;
    border-radius: 0.5em;
    width: 4em;
}
h3{
    font-size: 2em;
}
.detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(yellow, rgb(255, 217, 0)); */
    background: white;
    padding: 0em 2em;
    width: 30em;
    border-radius: 1em;
}

input[type=number]{
    height: 2.2em;
    font-size: 1.2em;
    background: rgb(131, 240, 167);
    border: 0.2em solid black;
    border-radius: 1em;
}
select{
    height: 2.8em;
    width: 13em;
    font-size: 1.2em;
    background: rgb(131, 240, 167);
    border: 0.2em solid black;
    border-radius: 1em;
}


#detail_submit{
    font-size: 1.5em;
    margin: 0.2em;
    padding: 0.5em 1.5em;
    border: 0.2em solid black;
    color: white;
    background: #333333;
    border-radius:1em ;
}
#detail_submit:hover{
    background: #000000;
    
}
