*{
    margin: 0px;
    padding: 0px;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

/* Navigation Bar */
.nav{
    border: 2px solid black;
    width: 99%;
    height: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    background: linear-gradient(yellow, rgb(255, 196, 0));
    color: white;
}
#logoimg{
    border: 2px solid black;
    border-radius: 10px;
    background: black;
    margin: 5px;
    color: white;
}
#profile{
    border: 2px solid black;
    background: black;
    border-radius: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
#logo a{
    text-decoration: none;
    color: white;
}

body{
    background: linear-gradient(135deg, rgb(48, 47, 47), rgb(122, 126, 64), rgb(238, 238, 59));
    background-repeat: no-repeat;
}
#dtls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 5em;
    margin: auto;
}
h1{
    text-align: center;
    color: white;
    background: black;
    padding: 0em 4em;
    border-radius: 0.5em;
    width: 4em;
}
h3{
    font-size: 2em;
}
.detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(yellow, rgb(255, 217, 0)); */
    background: white;
    padding: 0em 2em;
    width: 30em;
    border-radius: 1em;
}

input[type=number]{
    height: 2.2em;
    font-size: 1.2em;
    background: rgb(131, 240, 167);
    border: 0.2em solid black;
    border-radius: 1em;
}
select{
    height: 2.8em;
    width: 13em;
    font-size: 1.2em;
    background: rgb(131, 240, 167);
    border: 0.2em solid black;
    border-radius: 1em;
}


#detail_submit{
    font-size: 1.5em;
    margin: 0.2em;
    padding: 0.5em 1.5em;
    border: 0.2em solid black;
    color: white;
    background: #333333;
    border-radius:1em ;
}
#detail_submit:hover{
    background: #000000;
    
}

/* Profile Hover Section */
#profile ul{
    display:  none;
    list-style: none;
    border: 2px solid blue;
    position: absolute;
    background: rgba(218, 218, 218, 0.74);
    transform: translateX(50%);
}
#profile ul li{
    font-size: 2em;
    margin: 5px;
}
#profile ul li a{
    text-decoration: none;
    color: black;
}
#profile:hover ul{
    display: block;
}
/* Footer */
.footer{
    text-align: center;
}
/* Hidden Section */
#home, #ourteamnav, #featurenav{
    border: none;
    padding: none;
    background: none;
}