<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team Page</title>

    <link rel="stylesheet" href="static/ourteam.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="loader"><img src="static/images/wired-outline-1186-honeycombs.gif" alt=""></div>

    <div class="logo">
        <img src="static/images/logo.png" alt="Beefit Logo" class="logo">
    </div>

    <div class="header">
        <div class="headleft">
            <a href="{{url_for('mainpage')}}"><h3 class="headbtn">Home</h3></a>
            <a href=""><h3 class="headbtn">How It Works</h3></a>
            <div class="dropdown">
              <h3 class="headbtn">Profile</h3>
              <div class="dropdown-content">
              <a href="{{url_for('profilepage')}}">My Profile</a>
              <a href="{{url_for('logout')}}">Logout</a>
              </div>
            </div>
        </div>
    </div>

    <div class="ourteam">
      <div class="container">
      <div class="row">
        <div class="card1">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="static/images/Shubham.jpeg">
            </div>
            <div class="team-content">
              <h3 class="name">Shubham Asatir</h3>
              <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://www.instagram.com/shubhamasati2004/" class="fa fa-instagram" aria-hidden="true"></a></li>
              <li><a href="https://github.com/ShubhamAsati-123" class="fa fa-github" aria-hidden="true"></a></li>
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://www.linkedin.com/in/shubham-asati-054ba124b/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="card2">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="static/images/Ashmit.jpeg">
            </div>
            <div class="team-content">
              <h3 class="name">Ashmit Jagtap</h3>
              <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://www.instagram.com/ashmit_5980/" class="fa fa-instagram" aria-hidden="true"></a></li>
              <li><a href="https://github.com/ashmit-coder" class="fa fa-github" aria-hidden="true"></a></li>
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://www.linkedin.com/in/ashmit-jagtap-544587270/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="card3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="static/images/Anshul.jpeg">
            </div>
            <div class="team-content">
              <h3 class="name">Anshul Kumar</h3>
              <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://www.instagram.com/anshulk0102/" class="fa fa-instagram" aria-hidden="true"></a></li>
              <li><a href="https://github.com/Anshulk2004" class="fa fa-github" aria-hidden="true"></a></li>
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://www.linkedin.com/in/anshul-kumar-627001250/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="card4">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="static/images/Manas.jpeg">
            </div>
            <div class="team-content">
              <h3 class="name">Manas Agarwal</h3>
              <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://www.instagram.com/manasagarwal989/" class="fa fa-instagram" aria-hidden="true"></a></li>
              <li><a href="https://github.com/manasagar" class="fa fa-github" aria-hidden="true"></a></li>
              <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li> -->
              <li><a href="https://www.linkedin.com/in/manas-agarwal-a13623256/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    </div>
    


    

<div class="footer">
    <div class="foot">

        <div class="footele" id="fe2" >
            <h1>Follow Us</h1>
            <div class="icons">

                <svg class="svg--source" width="0" height="0" aria-hidden="true">

                <symbol id="svg--twitter" viewbox="0 -7 15 30">
                  <path d="M15.36 3.434c-0.542 0.241-1.124 0.402-1.735 0.476 0.624-0.374 1.103-0.966 1.328-1.67-0.583 0.346-1.23 0.598-1.917 0.733-0.551-0.587-1.336-0.954-2.205-0.954-1.668 0-3.020 1.352-3.020 3.019 0 0.237 0.026 0.467 0.078 0.688-2.51-0.126-4.735-1.328-6.224-3.155-0.261 0.446-0.41 0.965-0.41 1.518 0 1.048 0.534 1.972 1.344 2.514-0.495-0.016-0.961-0.151-1.368-0.378 0 0.013 0 0.025 0 0.038 0 1.463 1.042 2.683 2.422 2.962-0.253 0.069-0.52 0.106-0.796 0.106-0.194 0-0.383-0.018-0.568-0.054 0.384 1.2 1.5 2.073 2.821 2.097-1.034 0.81-2.335 1.293-3.75 1.293-0.244 0-0.484-0.014-0.72-0.042 1.336 0.857 2.923 1.357 4.63 1.357 5.554 0 8.592-4.602 8.592-8.593 0-0.13-0.002-0.261-0.009-0.39 0.59-0.426 1.102-0.958 1.507-1.563z"
                  />
                </symbol>
              
                <symbol id="svg--facebook" viewbox="0 -7 16 30">
                  <path d="M12 3.303h-2.285c-0.27 0-0.572 0.355-0.572 0.831v1.65h2.857v2.352h-2.857v7.064h-2.698v-7.063h-2.446v-2.353h2.446v-1.384c0-1.985 1.378-3.6 3.269-3.6h2.286v2.503z" />
                </symbol>
              
                <symbol id="svg--github" viewbox="-30 -30 150 150">
                  <path d="M61.896,52.548c-3.59,0-6.502,4.026-6.502,8.996c0,4.971,2.912,8.999,6.502,8.999
                      c3.588,0,6.498-4.028,6.498-8.999C68.395,56.574,65.484,52.548,61.896,52.548z M84.527,29.132c0.74-1.826,0.777-12.201-3.17-22.132
                      c0,0-9.057,0.993-22.76,10.396c-2.872-0.793-7.736-1.19-12.597-1.19s-9.723,0.396-12.598,1.189C19.699,7.993,10.645,7,10.645,7
                      c-3.948,9.931-3.913,20.306-3.172,22.132C2.834,34.169,0,40.218,0,48.483c0,35.932,29.809,36.508,37.334,36.508
                      c1.703,0,5.088,0.004,8.666,0.009c3.578-0.005,6.965-0.009,8.666-0.009C62.191,84.991,92,84.415,92,48.483
                      C92,40.218,89.166,34.169,84.527,29.132z M46.141,80.574H45.86c-18.859,0-33.545-2.252-33.545-20.58
                      c0-4.389,1.549-8.465,5.229-11.847c6.141-5.636,16.527-2.651,28.316-2.651c0.045,0,0.093-0.001,0.141-0.003
                      c0.049,0.002,0.096,0.003,0.141,0.003c11.789,0,22.178-2.984,28.316,2.651c3.68,3.382,5.229,7.458,5.229,11.847
                      C79.686,78.322,65,80.574,46.141,80.574z M30.104,52.548c-3.588,0-6.498,4.026-6.498,8.996c0,4.971,2.91,8.999,6.498,8.999
                      c3.592,0,6.502-4.028,6.502-8.999C36.605,56.574,33.695,52.548,30.104,52.548z" />
                </symbol>
              
                <symbol id="svg--pinterest" viewbox="-180 -180 850 850">
                  <path d="M430.149,135.248C416.865,39.125,321.076-9.818,218.873,1.642
                              C138.071,10.701,57.512,76.03,54.168,169.447c-2.037,57.029,14.136,99.801,68.399,111.84
                              c23.499-41.586-7.569-50.676-12.433-80.802C90.222,77.367,252.16-6.718,336.975,79.313c58.732,59.583,20.033,242.77-74.57,223.71
                              c-90.621-18.179,44.383-164.005-27.937-192.611c-58.793-23.286-90.013,71.135-62.137,118.072
                              c-16.355,80.711-51.557,156.709-37.3,257.909c46.207-33.561,61.802-97.734,74.57-164.704
                              c23.225,14.136,35.659,28.758,65.268,31.038C384.064,361.207,445.136,243.713,430.149,135.248z" />
                </symbol>
              
              </svg>
              
              <div class="wrapper">
              <div class="connect">
              
                <a href="" class="share twitter">
                  <svg role="presentation" class="svg--icon">
                    <use xlink:href="#svg--twitter" />
                  </svg>
                  <span class="clip">TWITTER</span>
                </a>
              
                <a href="" rel="author" class="share facebook">
                  <svg role="presentation" class="svg--icon">
                    <use xlink:href="#svg--facebook" />
                    <span class="clip">FACEBOOK</span>
                  </svg>
                </a>
              
                <a href="" class="share github">
                  <svg role="presentation" class="svg--icon">
                    <use xlink:href="#svg--github" />
                    <span class="clip">GITHUB</span>
                  </svg>
                </a>
              
                <a href="" class="share  pinterest">
                  <svg role="presentation" class="svg--icon">
                    <use xlink:href="#svg--pinterest" />
                    <span class="clip">PINTEREST</span>
                  </svg>
                </a>
              
              </div>
              </div>

            </div>


        </div>
        <div class="footele" id="fe3">
            <h1>Contact Us</h1>
            <p>Our Team</p>
        </div>
    </div>
    
    <div class="bf">
      <h1>BEEFIT</h1>
      <p> &#169;copyrights with our Team</p>
    </div>

</div>


</body>
<script type="text/javascript">
    function load_iframes() {
var vidDefer = document.getElementsByTagName('iframe');
for (var i=0; i<vidDefer.length; i++) {
if(vidDefer[i].getAttribute('data-src')) {
vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
} } }
 
 
    function isnumberinput(evt){
        var ch = String.fromCharCode(evt.which);

        if (!(/[0-9]/.test(ch))){
            evt.preventDefault();
        }
    }


    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");

    loader.classList.add("loader--hidden");

    loader.addEventListener("transitionend", () => {
        document.body.removeChild(loader);
        load_iframes();

    });
    });

</script>
</html>