<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Anshulk">
    <meta name="description" content="Everything i learn about html.">
    <title>Sign In</title> 
    <link rel="stylesheet" href="static/Login Page.css" type="text/css"> 
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="loader"><img src="static/images/wired-outline-1186-honeycombs.gif" alt=""></div>
 
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			
			<div class="signup">
				<form method="post" action="#">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="User_name" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
                    <!-- <input type="checkbox" name="rememberme" id="chckbx"> -->
					<input type="submit" value="Login" name="Signup" class="btn">
				</form>
			</div>
            <div class="login">
				<form>
					<label for="chk" aria-hidden="true"></label>
					<!-- <input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
                    <input type="contact number" name="pswd" placeholder="Contact number" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
                    <input type="confirm password" name="pswd" placeholder="Confirm password" required=""> -->
                    
					<!-- <button>Sign up</button> -->
				</form>
			</div>
	</div>
</body>
<script type="text/javascript">
    function load_iframes() {
var vidDefer = document.getElementsByTagName('iframe');
for (var i=0; i<vidDefer.length; i++) {
if(vidDefer[i].getAttribute('data-src')) {
vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
} } }
 
 
    function isnumberinput(evt){
        var ch = String.fromCharCode(evt.which);

        if (!(/[0-9]/.test(ch))){
            evt.preventDefault();
        }
    }


    window.addEventListener("load", () => {
    const loader = document.querySelector(".loader");

    loader.classList.add("loader--hidden");

    loader.addEventListener("transitionend", () => {
        document.body.removeChild(loader);
        load_iframes();

    });
    });

</script>
</html>